# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build-ak-Desktop_Qt_5_12_4_MSVC2017_64bit-Debug
/src/ak/*.user
src/build-ak-Desktop_Qt_5_12_4_MSVC2017_64bit-Release/.qmake.stash
src/build-ak-Desktop_Qt_5_12_4_MSVC2017_64bit-Release/ui_uidemo1.h
src/build-ak-Desktop_Qt_5_12_4_MSVC2017_64bit-Release/release/qrc_sound.cpp
src/build-ak-Desktop_Qt_5_12_4_MSVC2017_64bit-Release/release/ak.pdb
src/build-ak-Desktop_Qt_5_12_4_MSVC2017_64bit-Release/release/ak.map
src/build-ak-Desktop_Qt_5_12_4_MSVC2017_64bit-Release/Makefile.Release
src/build-ak-Desktop_Qt_5_12_4_MSVC2017_64bit-Release/Makefile.Debug
src/build-ak-Desktop_Qt_5_12_4_MSVC2017_64bit-Release/Makefile
src/build-ak-Desktop_Qt_5_12_4_MSVC2017_64bit-Release/release/qrc_demo.cpp
src/build-ak-Desktop_Qt_5_12_4_MSVC2017_64bit-Release/release/moc_uidemo1.cpp
src/build-ak-Desktop_Qt_5_12_4_MSVC2017_64bit-Release/release/moc_quiwidget.cpp
src/build-ak-Desktop_Qt_5_12_4_MSVC2017_64bit-Release/release/moc_predefs.h
src/build-ak-Desktop_Qt_5_12_4_MSVC2017_64bit-Release/release/moc_appinit.cpp
src/build-ak-Desktop_Qt_5_12_4_MSVC2017_64bit-Release/release/qrc_qss.cpp
src/build-ak-Desktop_Qt_5_12_4_MSVC2017_64bit-Release/release/qrc_main.cpp
src/build-ak-Desktop_Qt_5_12_4_MSVC2017_64bit-Release/release/qrc_image.cpp
